@page "/"


    @*<Cursos />
    <Alerta />

    <h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@
<div class="container">
    <h1>Hola a todos</h1>
    <p>Esta es mi primera aplicación en blazor</p>
</div>