@inject HttpClient http;

<div class="btn-toolbar justify-content-md-center mb-3">
    <button type="submit" class="btn btn-primary me-3">
        <i class="fas fa-save"></i> Guardar
    </button>

    <NavLink href=@PaginaVolver>
        <button type="button" class="btn btn-danger">
            <i class="fas fa-arrow-left"></i> Volver
        </button>
    </NavLink>
</div>

@code {

    #region "Parámetros"
    [Parameter]
    public string PaginaVolver { get; set; }
    #endregion

    //protected override async Task OnInitializedAsync()
    //{

    //    int idPagina = await http.GetJsonAsync<int>($"api/Pagina/GetId/{PaginaVolver}");
    //    PaginaVolver = $"/{PaginaVolver}/{idPagina}";

    //}

}
