@inherits LayoutComponentBase
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu UsuarioID="@context.User.Identity.Name" />
            </div>
        </Authorized>
    </AuthorizeView>

    <div class="main">
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4 d-flex">
                    <BotoneraLogin />
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="content px-4">
            @Body
        </div>
    </div>